html, body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/**
    HEADER STYLING
*/
header {
    background-color: #2c9ab7;
    height: 350px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#site-banner {
    position: relative;
    z-index: 0;
}

.header-captions {
    position: absolute;
    width: 1628px;
    color: white;
}

.header-title {
    position: absolute;
    
    margin: 0;
    font-size: 68px;
    z-index: 1;

    top: 90px;
    left: 90px;
}

.header-subtitle {
    position: absolute;
    
    margin: 0;
    font-size: 36px;
    z-index: 1;

    top: 180px;
    left: 90px;

    font-style: italic;
}

/**
    NAV STYLING
*/
nav {
    width: 100%;
    height: 60px;
    background-color: #dbdbdb;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav * {
    justify-content: center;
    font-weight: bold;
}

nav ul {
    padding: 0;
    margin: 0;
    font-size: 20px;
    list-style: none;
}

nav li {
    padding-left: auto;
    padding-right: auto;
    display: inline-block;
    justify-content: center;
}

nav li:nth-of-type(1n+2)::before {
    content: "/ ";
    padding: 0.5em;
}

/**
    SECTION CLASS main-content STYLING
*/
.main-content {
    width: 1628px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;

}

.main-content h2 {
    font-size: 24px;
}

.main-content h3 {
    font-size: 24px;
    color: #229AB8;
}

.main-content blockquote {
    font-size: 24px;
    color: #229AB8;
    font-style: italic;
}

.main-content article {
    float: left;
    width: 1108px;
}

/**
    ASIDE CLASS SIDE BAR STYLING
*/
.side-bar {
    width: 380px;
    padding-left: 20px;
}

.side-bar h3 {
    font-size: 24px;
    color: black;
}

/**
    FOOTER STYLING
*/

footer {
    background-color: #393939;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cat-footer {
    width: 1628px;
    margin-left: auto;
    margin-right: auto;
}

.footer-content {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: white;
}

.cat-logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}


.footer-content ul {
    list-style: none;
}

.footer-content li {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    justify-content: center;
}

.footer-content li:nth-of-type(1n+2)::before {
    content: "/ ";
    padding: 0.5em;
}